/\.cache/
/\.toolchains/
/\.venv/
/models/
/outputs/
__pycache__/
*.pyc
*.egg-info/
/.venv-*/
/artifacts/
/.ipynb_checkpoints/
/.pytest_cache/
/build/
/dist/
/.work/
/inference/outputs/
/inference/.cache/
/inference/.pytest_cache/
/inference/build/
/inference/dist/
